<div id="shell">
  <h3>The Bash Shell</h3>
  <p>
    Bash is a commonly-used shell that gives you the power to do
    tasks more quickly. <br />
    Click your OS below for instructions specific to that OS.
  </p>

  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a data-os="windows" href="#shell-windows" aria-controls="Windows" role="tab" data-toggle="tab">Windows</a></li>
      <li role="presentation"><a data-os="macos" href="#shell-macos" aria-controls="MacOS" role="tab" data-toggle="tab">MacOS</a></li>
      <li role="presentation"><a data-os="linux" href="#shell-linux" aria-controls="Linux" role="tab" data-toggle="tab">Linux</a></li>
    </ul>

    <div class="tab-content">
      <article role="tabpanel" class="tab-pane active" id="shell-windows">
        <ol>
            <li>Download the FREE Home Edition MobaXTerm <a href="https://mobaxterm.mobatek.net/download.html">installer</a> package. <br />
                Note: you can use the portable version instead if you want, you will need to skip the install steps and instead extract the zip file to use the program.
          </li>
          <li>Run the installer and follow the steps below:
            <ol>
                <li>Click Next.</li>
                <li>Check the box to accept the License Agreement and then Click Next.</li>
                <li>Don't change the install location unless you have a good reason to.</li>
                <li>Click Install.</li>
                <li>Click Finish.</li>
            </ol>
          </li>
          <li>Run MobaXTerm by clicking on it in the Start Menu and follow the steps below:
            <ol>
                <li>In the top menu, click Settings.</li>
                <li>Click Configuration.</li>
                <li>Ensure that a persistent home and root directory are setup. They should look like the following <br />
                    Persistent home directory: <code>_AppDataDir_\MobaXterm\home</code><br />
                    Persistent root (/) directory: <code>_AppDataDir_\MobaXterm\root</code>
                </li>
                <li>Click OK.</li>
            </ol>
          </li>
          <li>Click 'Start Local Terminal'</li>
          <li> Now we will install nano and groff:
              <ol>
                  <li>Type <code>apt install nano groff</code> and press Enter.</li>
                  <li>Type <code>y</code> to accept the terms of use and press Enter.</li>
                  <li>Type <code>y</code> to download and install packages, then press Enter.</li>
              </ol>
          </li>
        </ol>
        <p>This will provide you with MobaXterm, nano, ssh, ssh-keygen, and ssh-copy-id which we will use in this workshop.</p>
      </article>
      <article role="tabpanel" class="tab-pane" id="shell-macos">
        <p>
          The default shell in some versions of macOS is Bash, and
	  Bash is available in all versions, so no need to install anything.
	  You access Bash from the Terminal (found in
	  <code>/Applications/Utilities</code>).
          You may want to keep Terminal in your dock for this workshop.
        </p>
        <p>
            To see if your default shell is Bash type <code>echo $SHELL</code>
            in Terminal and press the <kbd>Return</kbd> key. If the message
            printed does not end with '/bash' then your default is something
            else and you can run Bash by typing <code>bash</code>
        </p>
        <p>
          If you want to change your default shell, see <a href="https://support.apple.com/en-au/HT208050" rel="noopener">
          this Apple Support article</a> and follow the instructions on "How to change your default shell".
        </p>
        <p>
        In order to access remote X window programs, you will need an X Display server on your Mac.  There is a free one called XQuartz located <a href="https://www.xquartz.org/">here</a>.  Please download and setup this software on your Mac if you wish to follow along with the GUI portion of our training.
        </p>
      </article>
      <article role="tabpanel" class="tab-pane" id="shell-linux">
        <p>
          The default shell is usually Bash and there is usually no need to
          install anything.
        </p>
        <p>
          To see if your default shell is Bash type <code>echo $SHELL</code> in
          a terminal and press the <kbd>Enter</kbd> key. If the message printed
          does not end with '/bash' then your default is something else and you
          can run Bash by typing <code>bash</code>.
        </p>
      </article>
    </div>
  </div>
</div>
